.page-template-templateslanding-php {

	&.admin-bar .site-header {
		margin-top: 32px;
	}

	.site-header {
//		position: fixed;
//		top: 0;
//		width: 100%;
//		z-index: 100;
		margin-bottom: 0;
	}

	.study-group {
		h1 {
			font-size: 1.75rem;
			text-transform: none;
			font-weight: normal;
		}
		* {
			color: white;
		}

		li {
			display: block;
			margin-bottom: 1rem;

			a {
				-webkit-transition: background-color 50ms ease-out;
				-moz-transition:    background-color 50ms ease-out;
				-o-transition:      background-color 50ms ease-out;
				transition:         background-color 50ms ease-out;
				display: block;
				text-align: center;
				border: 2px solid;
				padding: 2rem 0;
				@include border-radius( 10px );
				background: rgba(0,0,0, 0.3);
				
				&:hover {
					border-color: $primary-color;
					background: $primary-color;
				}
			}

			i {
				display: block;
				font-size: 3rem;
			}
		}
//		margin-top: 55px;
	}

//	.main-navigation {
//		position: absolute;
//		top: $topbar-height;
//		right: $topbar-height/2;
//	}

//	.main-navigation,
//	.has-dropdown,
//	.has-dropdown a,
//	.top-bar-section .dropdown li {
//		background-color: transparent !important;
//	}
//
//	.has-dropdown li a:hover {
//		background: #333 !important;
//		background: rgba(0,0,0,.5) !important;
//	}

	hr {
		margin: 4rem;
	}

//	section {
//		overflow: hidden;
//		padding-top: 54px;
//		margin-top: -54px;
//		width: 100%;
//	}

	section > div {
		overflow: hidden;
	}

	.reveal-modal .row {
		margin: auto;
	}

	h1, h2, h3 {
//		text-align: center;
	}

//	.top-bar-container {
//		background: $primary-color;
//
//		&.fixed {
//			border-bottom: 5px solid white;
//		}
//
//		.top-bar {
//			height: 54px;
//			background: $primary-color;
//		}
//
//		ul {
//			margin: 0;
//		}
//
//		li {
//			float: left;
//			width: 20%;
//			text-align: center;
//			line-height: 54px;
//			position: relative;
//
//			a {
//				color: #fff;
//				display: block;
//			}
//
//			img {
//				display: block;
//				width: 44px;
//				margin: 5px auto;
//			}
//		}
//
//		li.icon {
//			position: absolute;
//			left: 40%;
//			z-index: 5;
//		}
//
//		li:not(.icon) a.current:before {
//			content: '';
//			border-left: 10px solid transparent;
//			border-bottom: 10px solid white;
//			border-right: 10px solid transparent;
//			position: absolute;
//			bottom: 0;
//			left: 50%;
//			margin-left: -10px;
//		}
//	}

	.study-group {
		overflow: hidden;
		background-size: cover;
		background-color: $body-font-color;
		color: white;
		display: table;
		width: 100%;
		min-height: 400px;
//		margin-top: $topbar-height;

		.content-container {
			background: rgba(0,0,0,.25);
			display: table-cell;
			vertical-align: middle;
			max-width: 45rem;
			top: 0;
			padding: 3rem 0 2rem;
			text-align: center;

		}
	}

	.how-it-works {
		margin: 3rem auto;
		li {
			margin: 3rem;
			overflow: hidden;
			i {
				float: left;
				font-size: 5rem;
				margin: 1rem 3rem 0 2rem;
			}

			div {
				margin-left: 10rem;
			}
		}
	}
	.who-its-for {
		.row {
			margin: 3rem auto;
		}
		background: $secondary-color;
	}

	.get-involved {
		background: $info-color;
	}

	.social {
		background: $primary-color;

		li {
			list-style-type: none;
		}

		.menu {
			display: block;
			margin: 0;
			text-align: center;

			li {
				display: inline-block;
				margin: 1rem 2rem;
			}
		}

		a {
			color: white;
		}

	}

}

@media #{$small-only} {
	.page-template-templateslanding-php .top-bar ul {
		font-size: .75rem;
	}
}