.page-template-templateslanding-php {

	#page p {
		font-size: 1.142857143rem
	}

	.site-header {
		margin-bottom: 0;
	}

	.study-group {
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-color: $body-font-color;
		color: white;
		display: table;
		width: 100%;
		min-height: 420px;

		.content-container {
			background: rgba( 57, 67, 80, .75 );
			display: table-cell;
			vertical-align: middle;
			max-width: 45rem;
			top: 0;
			padding: 3rem 0 2rem;
			text-align: center;
		}

		h1 {
			font-size: 3.5em;
			margin-bottom: 1rem;
			text-transform: none;
			font-weight: normal;
		}

		* {
			color: white;
		}

		a:not(.button) {
			* {
				color: $secondary-color;
			}

			padding: 0 1rem;
			color: $secondary-color;
			&:hover, &:hover * {
				text-decoration: underline;
			}
		}

		li {
			display: block;
			margin-bottom: 1rem;

			a {
				-webkit-transition: background-color 50ms ease-out;
				-moz-transition:    background-color 50ms ease-out;
				-o-transition:      background-color 50ms ease-out;
				transition:         background-color 50ms ease-out;
				display: block;
				text-align: center;
				border: 2px solid;
				padding: 2rem 0;
				@include border-radius( 10px );
				background: rgba(0,0,0, 0.3);

				&:hover {
					border-color: $primary-color;
					background: $primary-color;
				}
			}

			i {
				display: block;
				font-size: 3rem;
			}
		}
	}

	.write-lessons,
	.share-answers {
		position: relative;
		overflow: hidden;

		i {
			position: absolute;
			top: 50%;
			margin: -1em 3rem 0;
			padding: .5em;
			background-color: white;
			width: 2em;
			text-align: center;
			font-size: 5.5rem;
			@include border-radius( 100px );
		}

		.row {
			position: relative;
		}

		img {
			position: absolute;
			right: 50%;
			height: 100%;
			width: auto;
			bottom: 0;
		}

		.content {
			margin: 7rem;

			*:last-child {
				margin-bottom: 0;
			}

		}
	}

	.write-lessons {
		background: $info-color;
		.content {
			margin-right: 0;
		}
	}

	.share-answers {
		background: $secondary-color;

		* {
			color: white;
		}

		i {
			color: $body-font-color;
			right: 2rem;
		}

		img {
			left: 50%;
			right: auto;
		}

		.content {
			margin-left: 0;
		}
	}

	.point-text {
		margin-left: 15rem;
	}

	.start-discussions,
	.manage-assignments {

		i {
			padding: .5em;
			background-color: $primary-color;
			color: white;
			width: 2em;
			text-align: center;
			font-size: 5.5rem;
			@include border-radius( 100px );
			float: left;
			margin: 0 2rem;
		}

	}

	.manage-assignments {
		margin-bottom: 0;

		i {
			background-color: $secondary-color;
		}

		.point-text {
			margin-bottom: 7rem;
		}

	}

	.cta {
		text-align: center;
	}

}

@media #{$medium-up} {
	.page-template-templateslanding-php {

		.start-discussions,
		.manage-assignments {
			position: relative;
			margin: 7rem 2rem;

			p {
				max-width: 35rem;
			}
		}

		.manage-assignments {

			.point-text {
				margin-left: 11rem;
			}

			i {
				margin-left: -2rem;
			}

			img {
				float: left;
				margin-left: -32%;
				margin-bottom: 7rem;
				max-width: 70%;
			}

			.content {
				margin-left: 40%;
			}

		}

		.cta {
			margin-left: 4rem;
			text-align: left;
		}
	}
}

@media #{$small-only} {
	.page-template-templateslanding-php {
		i {
			display: none;
		}
	}
}