.activity-meta {
	float: right;
}

.group-admin #subnav {
	#group-settings-groups-li,
	#group-avatar-groups-li,
	#membership-requests-groups-li {
		display: none;
	}
}

.bp_group {
	.sidebar {
		.members-list {
			border: none;
			.avatar-container {
				margin-bottom: 0;
			}
			.avatar {
				width: 40px;
				margin-right: 10px;
			}
		}
	}
}