.single-post {

	.entry-content {
		ul {
			li {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;
			}
		}
	}

	.site-header {
		margin-bottom: 0;
	}

	.post-header {
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		color: white;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.5);
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3.25rem;
			background: rgba(0,0,0,.5);
		}

		h1 {
			z-index: 10;
			color: white;
			padding: 2em 1em;
			position: relative;
		}

	}

	article .author-avatar img {
		width: 100%;
		@include border-radius( 100px );
		margin: 0 .5rem .5rem 0;
		max-width: 7.5rem;
	}

	.post-meta {
		margin-top: -3.2rem;
		position: relative;
		z-index: 10;
		margin-bottom: 1rem;

		a {
			color: white;
			text-decoration: underline;
		}

		.sd-social-icon .sd-content ul {
			margin-bottom: 0 !important;

			li[class*='share-'] {
				a.sd-button {
					@include border-radius(0);
					margin:  0;
					padding: 1rem 0.75rem;
					top: 0;
				}

				&.share-twitter a {
					@include border-radius(10px 0 0 0);
				}

				&.share-linkedin a {
					@include border-radius(0 10px 0 0);
				}
			}
		}

	}

	.date, .author-name {
		color: white;
		margin-top: .75rem;
		font-size: 1rem;
	}

	.post-navigation {
		margin: 2rem 0;
		font-size: $h4-font-size;
	}

	.entry-content {
		font-size: 1.25rem;
	}

	#secondary {
		.widget-container {
			padding: 1rem;
			background: #efefef;
		}
	}
}

@media #{$small-only} {

	.single {

		.author-avatar img {
			max-width: 4rem;
		}

//		.sd-social-icon {
//			position: fixed;
//			bottom: 0;
//			z-index: 10;
//			left: 1rem;
//		}

	}
}