.single-sc_study {
	#content {
		margin-bottom: 1.5rem;
	}
}

.sc_study {

	.comment-form {
		textarea {
			margin-bottom: 0;
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), color-stop(4%, #fff)) 0 -1px;
			background: -webkit-linear-gradient(top, #ccc 1px, #fff 1px) 0px -1px;
			background: -moz-linear-gradient(top, #ccc 1px, #fff 1px) 0 -1px;
			background: -ms-linear-gradient(top, #ccc 1px, #fff 1px) 0 -1px;
			background: -o-linear-gradient(top, #ccc 1px, #fff 1px) 0 -1px;
			background: linear-gradient(top, #ccc 1px, #ccc 1px) 0 -1px;
			-webkit-background-size: 100% 1.5rem;
			-moz-background-size: 100% 1.5rem;
			-ms-background-size: 100% 1.5rem;
			-o-background-size: 100% 1.5rem;
			background-size: 100% 1.5rem;
			line-height: 1.5rem;
			padding: .25rem 1rem;
			border: none;
			box-shadow: none;
			resize: none;
			overflow: hidden;

			&.question_short {
				height: 1rem;
			}
		}

	}

	.groups {

		.show-comments {
			display: none;
		}

		&.comments-hide {
			.activity-comments, .hide-comments, .acomment-reply {
				display: none;
			}

			.show-comments {
				display: block;
			}
		}

		.activity-meta  {
			margin: 0;

			a:not(:last-child) {
				border-right: 1px solid $grey-medium;
				margin-right: .5rem;
				padding-right: .5rem;
			}
		}

	}

	.activity-list-others {
		.show-answers {
			display: none;
		}

		.group-answer-toggle-container {
			margin: 0;
		}

		&.answers-hide {

			> li, .hide-answers {
				display: none;
			}

			.show-answers {
				display: block;
			}
		}
	}

	.activity-comments {
		textarea {
			resize: vertical;
		}

		.ac-form {
			margin-top: 1.5rem;
		}

	}

	.study-answers {
//		padding: 0 15px;
//		background-color: $primary-color-faded;

		.item-list > li {
			overflow: hidden;
			padding: 1rem !important;
			background-color: $primary-color-faded;
		}

	}

}
.table-of-contents {
	margin-left: 0;
	font-size: rem-calc(14);

	a {
		color: $body-font-color;

		&:hover {
			color: $primary-color;
		}
	}

	> li {
		text-transform: uppercase;
		border-bottom: 1px solid;
		margin-bottom: 1rem;
	}

}