.study-map {
	background: #000;
	background: rgba(0,0,0,.75);
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
	z-index: 100;

	a {
		color: white;
	}

	.current {
		text-decoration: underline;
	}
}

#studyapp {

	input.chapter-title {
		font-size: 1rem;
		font-weight: bold;
		height: auto;
		padding: .5rem;
		background: none;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
		border-bottom: 1px dotted;
	}

	.panel {
		border: none;
		background: $primary-color-faded;
	}

	.panel-buttons {
		float: right;
		margin: -1rem -1rem 0 0;
		a {
			padding: .6rem;
			display: inline-block;
		}
	}

	.item-content {
		margin-bottom: 1.5rem;
	}

}