.study-map {
	background: #000;
	background: rgba(0,0,0,.75);
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
	z-index: 100;

	a {
		color: white;
	}

	.current {
		text-decoration: underline;
	}
}

#studyapp {

	input.chapter-title {
		font-size: 1rem;
		font-weight: bold;
		height: auto;
		padding: .5rem;
		background: none;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
		border-bottom: 1px dotted;
	}

	.panel {
		padding: 0;
		border: 1px solid $grey-medium;

		.panel-header {
			border-bottom: 1px solid $grey-medium;
			background: $grey-light;
			font-size: 1.25rem;
			line-height: 1;
			overflow: hidden;

			table {
				background: none;
				margin: 0;
				width: 100%;
				border: 0;

				td {
					padding: 0;
				}

				td.reorder {
					width: 2.5rem;
				}

				td.buttons {
					width: 16rem;
				}
			}

			.item-data-type {
				width: 100%;
				height: 2.5rem;
				border-top: 0;
				border-bottom: 0;
			}

			.sep {
				float: right;
				width: 1px;
				height: 2.5rem;
				background: $grey-medium;
			}

			a {
				float: right;
				line-height: 2.5rem;
				width: 2.5rem;
				text-align: center;
				display: inline-block;
				position: relative;

				&.current:before {
					content: "";
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100%;
					border-bottom: 3px solid;
					left: 0;
				}

				.fa-spin {
					display: none;
				}

				&.saving {
					.fa {
						display: none;
					}

					.fa.fa-spin {
						display: inline-block;
					}
				}

			}

			a:hover {
				background: $grey-medium;
			}

			.item-expand {
				display: none;
			}

			.item-privacy {
				display: none;
			}

		}


		&.compressed {

			.panel-header {
				.item-expand {
					display: inline-block;
				}

				.item-compress {
					display: none;
				}
			}

			.item-content:not(.froala-box) {
				max-height: 7rem;
				overflow: hidden;
				margin-bottom: 0;
			}

		}

		.item-content:not(.froala-box) {
			padding: 10px;
		}

		.froala-editor.f-basic,
		.froala-wrapper.f-basic {
			border: none;
		}
		.froala-wrapper.f-basic {
			border-top: 1px solid $grey-medium;
		}

		&.question_long, &.question_short {
			.panel-header .item-privacy {
				display: inline-block;
			}
		}

	}

	.panel-buttons {
		float: right;
		margin: -1rem -1rem 0 0;
		padding: 0 .5rem;
		a {
			padding: .5rem;
			display: inline-block;
		}
	}

	#chapter-items {
		margin: 0;
	}

	.item-content {
		margin-bottom: 1.5rem;
	}

	.chapter-delete {
		margin-top: -1rem;
		color: $alert-color;
	}

}