.avatar-container {
	display: inline-block;
	position: relative;

	&:before {
		content: '';
		width: 12px;
		height: 12px;
		background-color: $body-font-color;
		position: absolute;
		top: 10%;
		right: 10%;
		border-radius: 100px;
		border: 2px solid white;
	}

	&.online:before {
		background-color: $primary-color;
	}

	.avatar {
		display: block;
	}
}