#buddypress {

	div.activity-comments {
		ul li {
			border: none;
			border-left: 1px solid $grey-medium;
			padding-left: 1rem;
			margin: 1.5rem auto;
		}
	}

	.activity-list {
		.acomment-meta {
			overflow: hidden;
		}

		.activity-content {
			margin: 0;
		}

		.activity-header {
			overflow: hidden;
		}

		p:last-child {
			margin: 0 !important;
		}
	}

}