
.site-footer {
	border-top: 1px solid $secondary-color;
	margin-top: 3rem;
	padding: 4rem 0;
	background: #FAFAFA;

	.footer-menu {
		margin-left: 0;

		li {
			display: inline-block;
		 }

		li:first-child a {
			padding-left: 0;
		}

		a {
			padding: 1rem;
		}

		a:not(:hover) {
			color: $body-font-color;
		}

	}

	.social {

		li {
			list-style-type: none;
		}

		.menu {
			display: block;
			margin: 0;

			li {
				display: inline-block;
				margin: 1rem 2rem;
			}
		}

	}

}

.bug-report-cont {
	position: fixed;
	bottom: 0;
	right: 2rem;
	color: white;

	label {
		color: white;
	}

	.handle a {
		margin: 0;
		float: right;
	}

	.form {
		padding: 1rem 2rem 0;
		max-width: 25rem;
		background-color: $primary-color;

		.gform_wrapper {
			margin: 0;
		}

		.gform_footer {
			margin: 0;
			.gform_button {
				margin: 0;
				width: 100%;
			}
		}

	}
}