#buddypress .standard-form input[type=text] {
	width: 100%;
}
label {
	margin: .5rem auto;
	font-weight: bold;
	font-size: 1rem;

	input[type=checkbox] {
		margin: 0 .5rem 0 0;
	}
}

.wp-editor-wrap {
	margin-bottom: 1rem;
	border: 1px solid #ccc;
}

textarea {
	resize: vertical;
}