#buddypress .standard-form input[type=text] {
	width: 100%;
}
label {
	margin: .5rem auto;
	font-weight: bold;
	font-size: 1rem;

	input[type=checkbox] {
		margin: 0 .5rem 0 0;
	}
}

.wp-editor-wrap {
	margin-bottom: 1rem;
	border: 1px solid #ccc;
}

textarea {
	resize: vertical;
}

.button-group.type {
	position: relative;
	display: block;
	margin: 1rem 0;
//	&:before {
//		content: attr(data-grouptype);
//		z-index: 2;
//		color: #999;
//		display: block;
//		font-size: 1.25em;
//		line-height: 2em;
//		width: 2em;
//		text-align: center;
//		border-radius: 50%;
//		background: #fff;
//		position: absolute;
//		left: 42.5%;
//		top: 0.5em;
//	}

	li {
		width: 49%;
	}

	li + li {
		margin-left: 2%;
	}

	a {
		display: block;
	}
}
