@import "compass";

.site-header {
	margin-bottom: 6rem;
}

.main-navigation {
	a {
		color: white;
	}

	.name {

		a {
			padding: 0;
		}

		img {
			height: $topbar-height;
			padding: 9px;
			padding: .5rem;
			display: block;
		}

	}

	.avatar-container {
		float: left;
		padding: .75rem;
		height: $topbar-height;
		&:before {
			content: none;
		}
	}

	.avatar {
		float: left;
		height: 100%;
		width: auto;
		@include border-radius( 100px );
	}

}

.register {
	color: white;
	font-size: 14px;

	a {
		color: white;
	}
}