@import "compass";
body:not(.logged-in) {
	.site-header {
		.contain-to-grid,
		.contain-to-grid .top-bar,
		.top-bar-section li:not(.has-form) a:not(.button) {
			background: white;
			color: $body-font-color;
		}
	}
}

.site-header {
	margin-bottom: 6rem;
//	border-bottom: 2px solid $info-color;
}

.main-navigation {
	a {
		color: white;
	}

	.name {

		a {
			padding: 0;
		}

		img {
			height: $topbar-height;
			padding: 9px;
			padding: .5rem;
			display: block;
		}

	}

	.avatar-container {
		float: left;
		padding: .5rem;
		height: $topbar-height;
		&:before {
			content: none;
		}
	}

	.avatar {
		float: left;
		height: 100%;
		width: auto;
		@include border-radius( 100px );
	}

}

.register {
	color: white;
	font-size: 14px;

	a {
		color: white;
	}
}